<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <% if logged_in? %>
            <!--here starts the dropdown-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "New Article", new_article_path %> </li>
                <!--<li><a href="#">Store 2</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Store 1 in X</a></li>-->
              </ul>
            </li>
            <!--here finish the dorpdown-->
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--logged_in? method helper is in the application_controller-->
        <% if logged_in? %>

            <!--here starts the dropdown-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your
                profile <%="Admin" if current_user.admin? %> <span class="glyphicon glyphicon-cog"></span>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="glyphicon glyphicon-search"></i> View'.html_safe, user_path(current_user) %> </li>
                <li><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe, edit_user_path(current_user) %> </li>
                <li role="separator" class="divider"></li>
                <li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Log out'.html_safe, logout_path, method: :delete %></li>
              </ul>
            <!--</li>-->
            <!--here finish the dorpdown-->


        <% else %>
            <li><%= link_to '<i class="glyphicon glyphicon-log-in"></i> Login'.html_safe, login_path %></li>
            <li><%= link_to '<i class="glyphicon glyphicon-chevron-up"></i> Sign up'.html_safe, signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>